{
    padding: 0;
    margin: 0;
}
h1{
    color:#dfdce0;
    margin-left: 80vh;
    
}
img{
    margin-left: 80vh;
    border-radius: 50%;
    border: rgba(201, 11, 248, 0.349) 10px solid;
    z-index: -1;
}
html {
    background: url(bg2.jpg) no-repeat center fixed;
    background-size: cover;
  }
  
p{
    font-size: 125%;
    color: white;
    text-indent: 50px;
    line-height: 1.5;
  outline-style: solid;
  outline-color: white;
  outline-width: 4px;
    }
}